<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--Cambiar TITLE-->
    <title>Document</title>  
    {% load staticfiles%}    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>


</head>
<body>
	<div class="col-lg-10 col-lg-offset-1">
		<div class="container">
			<h1>PONER TITULO</h1>
			<form action="/anadirProyecto/" method="POST">            
				<div class="form-group">
					<label>Nombre:</label>
					<input type="text" id="nombreProyecto" name="nombreProyecto" class="form-control" value=""><br/>
					<label>Desarrollador(es):</label>
					<input id="nombreDesarrolladores" name="nombreDesarrolladores"type="text" class="form-control"><br/>
            		
					<div id="conenidoDesarrolladores">
					
					</div>

					<label>Descripcion:</label>
					<textarea id="descripcionProyecto" name="descripcionProyecto" class="form-control" rows="3"></textarea>
					<br/>			
				</div>
				<br/><br/>
				<label>Atributo</label>
				<input id="anadirAtributo" type="button" class="btn btn-primary" value="Añadir">  
				<br/><br/>
				
				<div id="contenido">
				
				</div>
				
				<input type="hidden" id="numeroAtributos" name="numeroAtributos">
				<input type="hidden" id="numeroPropiedades" name="numeroPropiedades">
				
				<a class="btn btn-primary" style="margin-bottom:10px" href="/tecnico/">Atras</a>
				<button type="submit" class="btn btn-primary" style="margin-bottom:10px">Finalizar</button>
			</form>    
			
			
		</div>   
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
</body>
</html>
<script>
	var contDiv=1;
	var numPropiedades=[];
	
	$('#anadirAtributo').click(function(e){
		var contPropiedad=1;
		$('#contenido').append("<div id='contenidoAtributo"+contDiv+"'> </div>");
		
		$('#contenidoAtributo'+contDiv+'').append("<label>Nombre atributo:</label>"+
		"<input id='nombreAtributo"+contDiv+"' name='nombreAtributo"+contDiv+"' type='text' class='form-control'>"+
		"<input id='anadirPropiedades"+contDiv+"' type='button'  class='btn btn-primary' value='Añadir Propiedades'>" +
		"<br>"+
		"<br>"+
		"<div id='contenidoAtributo"+contDiv+"Propiedades'> </div>"
		);
		
		var divActual=contDiv;		
		contDiv++;
		
		var elem=document.getElementById("numeroAtributos")
		elem.value=divActual

		numPropiedades[divActual-1]=0;	
		

		$('#anadirPropiedades'+divActual).click(function(e){



			$('#contenidoAtributo'+divActual+'Propiedades').append("<div id='contenidoAtributo"+divActual+"Propiedad"+contPropiedad+"' class='col-md-offset-1 form-group' style='border: 1px solid rgba(192,192,192,0.5)'></div>");
			
			$('#contenidoAtributo'+divActual+'Propiedad'+contPropiedad).append(
			"<label>Nombre propiedad"+contPropiedad+":</label>"+
			"<input id='nombreAtributo"+divActual+"Propiedad"+contPropiedad+"' name='nombreAtributo"+divActual+"Propiedad"+contPropiedad+"' type='text' class='form-control'>"+
			"<br>"+


			"<label>Tipo propiedad"+contPropiedad+":</label>"+
			"<select id='tipoAtributo"+divActual+"Propiedad"+contPropiedad+"' onChange='changeFunct();'>"+
				"<option selected value='0'> int </option>"+
				"<option value='1'> float </option>"+
				"<option value='2'> varchar </option>"+
				"<option value='3'> boolean </option>"+
				"<option value='4'> date </option>"+
			"</select>"+
			"<br>"+


			"<label>Tipo propiedad"+contPropiedad+":</label>"+
			"<input id='tipoAtributo"+divActual+"Propiedad"+contPropiedad+"' name='tipoAtributo"+divActual+"Propiedad"+contPropiedad+"' type='text' class='form-control'>"+
			"<br>"+


			"<label>Valor propiedad"+contPropiedad+":</label>"+
			"<input id='valorAtributo"+divActual+"Propiedad"+contPropiedad+"' name='valorAtributo"+divActual+"Propiedad"+contPropiedad+"' type='text' class='form-control'>"+
			"<br>"+			
			"<br>"			
			);
			numPropiedades[divActual-1]=contPropiedad;
			var elem=document.getElementById("numeroPropiedades")
			elem.value=numPropiedades
	
			contPropiedad++;			
		})		
	})
	
	function changeFunct(){
		var selectBox=document.getElementById("tipoAtributo"+divActual+"Propiedad"+contPropiedad);
		var selectValue=selectBox.options[selectBox.selectedIndex].value;
		alert(selectValue);
	}

</script>