<html>
<head>
	<title></title>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style>
		div.scroll {
		    overflow: scroll;
		}
	</style>
</head>

	
<body>
	<div class="container col-xs-10 col-xs-offset-1" style="margin-top:5%">
		<h2><b>Ficha del proyecto</b></h2>
		<br>
		<label>Nombre del proyecto:</label>
		{{nombreProyecto}}
		<br>
		<label>Desarrollador(es):</label>
		{% for d in nombreDesarrolladores %}
			{{d}}
		{% endfor %}
		<br>
		<label>Descripcion:</label>
		{{descripcion}}
		<br>
		<br>
		<!--PONER CONDICION!-->
		<!-- if ___ == ___-->
			
		<a class="btn btn-primary" style="margin-bottom:10px" href="/tecnico/">Atras</a>	
		<a class="btn btn-primary" style="margin-bottom:10px" href="/{{nombreProyecto}}/modificacion/">Modificar</a>
		<br>

		<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="false">
			<!--for-->
		</div>
		

</body>
</html>

<script type="text/javascript">
	var contador=0
	$('#accordion').append(		
		"{% for atributo in atributos %}"+
		"<div class='panel panel-info'>"+

	    	"<div class='panel-heading' role='tab' id='cabeza"+contador+"'>"+
	      		"<h4 class='panel-title'>"+
	        	"<a data-toggle='collapse' data-parent='#accordion' href='#tabla"+contador+"' aria-expanded='false' aria-controls='tabla"+contador+"'>"+
	          		"{{atributo.nombreAtributo}}"+
	        	"</a>"+
	      		"</h4>"+
	    	"</div>"+

	    	"<div id='tabla"+contador+"' class='panel-collapse collapse in' role='tabpanel' aria-labelledby= 'cabeza"+contador+"'>"+
		      "<div class='panel-body scroll'>"+
		        
		        "<table class='table table-striped table-hover table-bordered'>"+		
					"<thead>"+
						"<tr class='success'>"+
							"{% for propiedad in atributo.propiedades %}"+
								"<th>{{propiedad.nombrePropiedad}}</th>"+
							"{% endfor %}"+
						"</tr>"+
					"</thead>"+
					"<tbody>"+
						"<tr>"+
							"{% for propiedad in atributo.propiedades %}"+
								"<td>{{propiedad.valorPropiedad}}</td>"+
							"{% endfor %}"+
						"</tr>"+
					"</tbody>"+
				"</table>"+

		      "</div>"+
		    "</div>"+
	    "</div>");
	contador++;
	$('#accordion').append("{%endfor%}");
</script>